#possible values prod, dev
YII_ENV=prod
YII_DEBUG=0
BASE_URL=

# For Docker Compose installation, keep this as "mysql".
# For non-Docker installation, use "localhost".
DB_HOST=mysql
DB_DATABASE=db_web_solana_node_manager
DB_USERNAME=admin
DB_PASSWORD=<enter_password_here>

# This is only needed for Docker Compose installation.
DB_DIR=.data/mysql

# API for getting validators infos
VALIDATORS_APP_TOKEN=

# You must configure INFO_EMAIL and MAILER_DSN if you want to enable password reset.
# Without these parameters, the password reset page will only show instructions
# for resetting the password using CLI commands.
#
# INFO_EMAIL — the address from which users will receive the password reset link.
#
# MAILER_DSN — connection string for the SMTP server.
# Format:
#   smtp://<USERNAME>:<PASSWORD>@<HOST>:<PORT>?encryption=tls
#
# <USERNAME>   — your SMTP login
# <PASSWORD>   — your SMTP password
# <HOST>       — SMTP server address (e.g., smtp.gmail.com)
# <PORT>       — SMTP port (587 for TLS, 465 for SSL)
# encryption — tls or ssl
#
# Example:
# MAILER_DSN="smtp://myuser:mypass@smtp.example.com:587?encryption=tls"
#
# Alternative DSN values (you may need to test them):
#   native://default
#   sendmail://default
#
# For more details, please refer to:
#   https://github.com/yiisoft/yii2-symfonymailer
#   https://symfony.com/doc/5.x/mailer.html
INFO_EMAIL=
MAILER_DSN=

#privacy policy url - if you need then put url to privacy policy page or PDF
PRIVACY_POLICY_URL=

# todo: maybe change
NM_SSH_REMOTE_PATH=/home/websnm/snm_request_dir

# Node Manager: other
NM_MAX_RETRIES=3
NM_BASE_SLEEP=1
NM_WAIT_TIMEOUT=60
NM_WAIT_INTERVAL=2

ALLOW_USER_REGISTRATIONS=0

#################
### recaptcha ###
#################
# 
# STEPS:
#   1. Visit https://www.google.com/recaptcha/admin/create (you need google account to succeed)
#   2. Register your domain
#   3. If you don't have domain yet, public IP's and localhost are OK as well
#   4. Choose type - v2
#   5. Now you have 2 secret keys - use them for env vars
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# new SSH limits
SSH_SAVE_PER_DAY=7
SSH_SAVE_PER_MONTH=30