#possible values prod, dev
YII_ENV=prod
YII_DEBUG=0
BASE_URL=

DB_HOST=localhost
DB_DATABASE=db_web_solana_node_manager
DB_USERNAME=admin
DB_PASSWORD=<input password there>

INFO_EMAIL=
MAILER_DSN=

#privacy policy url - if you need then put url to privacy policy page or PDF
PRIVACY_POLICY_URL=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

